/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin-left: 40;
    margin-right: 40;
    padding: 0;
    background-color: #333; /* Fundo escuro */
    color: #fff; /* Texto branco */
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Layout de artigos */
.artigos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.noticia {
    background-color: #444;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem-noticia img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.conteudo-noticia {
    text-align: center;
}

.conteudo-noticia h2 {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.conteudo-noticia p {
    color: #ddd;
    margin: 5px 0;
}

/* Estilos do botão "Ler Mais" */
.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #24f0c7; /* Cor do botão */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 10px;
}

.btn:hover {
    background-color: #005f73; /* Cor ao passar o mouse */
}
